.button-text {
    background-color: #ffcd02;
    color: #003060;
    margin: 0px 10px;
    padding: 5px 10px;
    height: 40px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.4s ease-in-out;
    font-size: 15px;
}

.button-text:hover {
    transform: scale(1.1);
}

.button-text:active {
    transform: scale(0.9);
    background-color: #003060;
    color: #ffcd02;
}

.button-text:focus {
    background-color: #003060;
    color: #ffcd02;
}

.button-text:disabled {
    opacity: 0.5;
    /* cursor: not-allowed; */
    pointer-events: none;
}