@font-face {
    font-family: "VT323";
    src: url("../assets/fonts/VT323-Regular.ttf");
}

@font-face {
    font-family: "PressStart2P";
    src: url("../assets/fonts/PressStart2P-Regular.ttf");
}


*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "PressStart2P";
    outline: none;
}

body {
    background-color: #E0E8E8;
    color: #404040;
    background-image: url("../assets/images/pokemonTheme.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow-y: hidden;
}


button {
    cursor: pointer;
}

h1 {
    text-align: center;
    margin: 50px;
    color: yellow;
    text-shadow: 0px 4px 20px rgba(0, 0, 0, 1);
}