@font-face {
    font-family: "VT323";
    src: url("../assets/fonts/VT323-Regular.ttf");
}

@font-face {
    font-family: "PressStart2P";
    src: url("../assets/fonts/PressStart2P-Regular.ttf");
}

*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "PressStart2P";
    outline: none;
}


body {
    min-width: 100%;
    min-height: 100vh;
    background-image: url("../assets/images/pokemon-gif-wallpaper.gif");
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}