nav {
    position: sticky;
    top: 0;
    background-color: #1d1d1d;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: flex-end;
    z-index: 1;
}

a {
    color: #ffcd02;

}

ul {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    list-style-type: none;
    margin: 0 10px;
}

li {
    margin: 0 10px;
}