.navbar {
    position: sticky;
    top: 0;
    background-color: #1d1d1d;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: flex-end;
    z-index: 1;
}

.nav-link {
    color: #ffcd02;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.nav-link-container li {
    margin: 0 20px;
    width: calc(100% / 6);
    width: 16.6667%;
    box-sizing: border-box;
}

.nav-link:focus {
    color: #003060;
}

.nav-link-container {
    display: flex;
    list-style-type: none;
}


.nav-link:hover,
.nav-link:focus {
    background-color: #555;
}

.nav-link.active {
    background-color: #ffcd02;
    color: #003060;
}