.poke-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px 10px;
    width: 1000px;
    margin: auto;
}

.pokemon-link {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: black;
    text-align: center;
    font-weight: bold;
    transition: color .3s ease-in;
    text-decoration: none;
    border-radius: 8px;
    filter: drop-shadow(0 0 10px #000);
    height: 180px;
    width: 180px;
    text-transform: capitalize;
    background-image: url("../assets/images/poke_background_icon.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.pokemon-link:hover {
    color: #fff;
}

a {
    display: block;
    width: fit-content;
    color: yellow;
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
    /* border: 2px solid yellow; */
}

.buttons-wrap {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.buttons-wrap button {
    width: 150px;
}