.favourite-icon {
    color: #ffcd02;
    margin-left: 8px;
    animation: spin 4s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 768px) {
    .favourite-icon {
        margin: 5px 0;
    }
}