.heading-list {
    text-align: center;
    margin: 40px;
    color: #ffcd02;
    filter: drop-shadow(5px 5px 0px rgba(0, 0, 0, 10));
}

.poke-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px 15px;
    width: 1000px;
    margin: auto;
}

.spin {
    color: #f0f0f0;
    display: inline-block;
    animation: spin 2.8s linear infinite;
}


.pokemon-link {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: black;
    font-size: 0.83rem;
    line-height: 15px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    filter: drop-shadow(0 0 10px #000);
    height: 180px;
    width: 180px;
    text-transform: capitalize;
    background-image: url("../assets/images/poke_background_icon.png");
    background-size: cover;
    background-repeat: no-repeat;
    transform: scale(1);
    transition: all 0.3s ease-in;
}

.pokemon-link:hover {
    color: #fff;
}

.pokemon-link:focus {
    transform: scale(1.1);
}

a {
    display: block;
    width: fit-content;
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
    font-size: 14px;
}

.buttons-wrap {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.buttons-wrap button {
    width: 150px;
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.star-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
}