.pokemon-card {
    display: flex;
    margin-bottom: 5px;
}

.capitalize-name {
    text-transform: capitalize;
    font-weight: bold;
    color: white;
    font-size: 20px;
}

.base-stats {
    margin-left: auto;
    font-weight: bold;
    display: flex;
    align-items: end;
    color: white;
}

.pokemon-img {
    width: 200px;
    filter: drop-shadow(5px 5px 0px rgba(0, 0, 0, 0.5));
    -webkit-user-drag: none;
    margin-bottom: 10px;
    animation: pulse 1.5s linear infinite;
}

.stats-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 35px;
    border: 2px solid black;
    border-radius: 10px;
    width: 100%;
}

.stats-info {
    font-weight: bold;
    line-height: 35px;
    margin-top: 10px;
    text-align: start;
    border-top: 2px solid black;
    width: 100%
}

.types {
    font-weight: bold;
}

.stats-types {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
    line-height: 30px;
}

.main {
    padding: 30px;
    width: 500px;
    margin: auto;
    border-radius: 10px;
    background-color: #191a1e;
}

.info {
    text-shadow: 0px 0px 2px black;
    display: flex;
    align-items: center;
    gap: 15px;
}

.attack {
    color: #757cbb;
}

.speed {
    color: #D880FF;
}

.def {
    color: #FEB17A;
}

.types-icon img {
    width: 40px;
    height: 40px;
    position: relative;
    bottom: 70px;
    right: 180px;
}

.fav-button {
    position: relative;
    border-radius: 8px;
    left: 202px;
    top: -35px;
    cursor: pointer;
}


@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}