.navbar {
    position: sticky;
    top: 0;
    background-color: #1d1d1d;
    height: 50px;
    display: flex;
    padding: 10px 0;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: flex-end;
    z-index: 1;
}

.nav-link {
    color: #ffcd02;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.nav-link-container li {
    margin: 0 20px;
    width: calc(100% / 6);
    width: 16.6667%;
    box-sizing: border-box;
}

.nav-link:focus {
    color: #003060;
}

.nav-link-container {
    display: flex;
    list-style-type: none;
}


.nav-link:hover,
.nav-link:focus {
    background-color: #555;
}

.nav-link.active {
    background-color: #ffcd02;
    color: #003060;
}


/* hamburger menu  */
.burger-menu-checkbox {
    display: none;
}

.burger-menu-label {
    display: none;
    cursor: pointer;
    padding: 10px;
}

.burger-menu-icon,
.burger-menu-icon::before,
.burger-menu-icon::after {
    display: block;
    background-color: #ffcd02;
    position: relative;
    height: 3px;
    width: 30px;
    border-radius: 3px;
    transition: transform 0.3s ease-in-out;
}

.burger-menu-icon::before,
.burger-menu-icon::after {
    content: "";
    position: absolute;
}

.burger-menu-icon::before {
    top: -10px;
}

.burger-menu-icon::after {
    top: 10px;
}

@media (max-width: 768px) {
    .navbar {
        height: auto;
        flex-direction: column;
        align-items: flex-end;
    }

    .burger-menu-label {
        display: block;
    }

    .nav-link-container {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
        width: 100%;
    }

    .nav-link-container li {
        width: 100%;
        margin: 5px 0;
    }

    .nav-link {
        font-size: 16px;
        padding: 10px 5px;
    }

    .burger-menu-checkbox:checked~.nav-link-container {
        display: flex;
    }

    .burger-menu-checkbox:checked~.burger-menu-label .burger-menu-icon {
        background-color: transparent;
    }

    .burger-menu-checkbox:checked~.burger-menu-label .burger-menu-icon::before {
        transform: translateY(10px) rotate(45deg);
    }

    .burger-menu-checkbox:checked~.burger-menu-label .burger-menu-icon::after {
        transform: translateY(-10px) rotate(-45deg);
    }
}